{% extends 'expanding-card-animated/expanding-card-animated.twig' %}
{% block content %}
  <div
    x-data="sampleCardContentComponent"
    class="component-sample-card-content"
  >
    <p>This is the child content.</p>
  </div>
{% endblock %}