.component-link {
    display: flex;
    align-items: center;
    color: theme("colors.sea");
    padding: 0 0.3rem 0 0.3rem ;
    transition: border-bottom-color 0.2s ease;
    border-bottom: 1px solid theme("colors.sea");
    margin-right: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    gap: 0.4rem;
    width: min-content;

    svg{
        fill: theme("colors.sea");
    }

    &:hover{
        border-bottom-color: transparent;
    }
}
