<div
  x-data="devGridComponent"
  class="component-dev-grid {{ class }}"
  x-show="showGrid"
  x-cloak
>
  <div class="w-full container">
    <div class="default-grid h-screen">
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
      <div class="component-dev-grid__col col-span-1"></div>
    </div>
  </div>
</div>