.component-dev-grid {
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;

  .component-dev-grid__col {
    background-color: rebeccapurple;
    opacity: 0.1;
  }
}
