<div
  {% if block.anchor %}id="{{block.anchor}}"{% endif %}
  x-data="contentBlocksWithIconsBlock"
  class="component-block block-content-blocks-with-icons {{ className }}"
>
  <div class="container">
    {# placeholder content #}
    <h3>Block: Content blocks with icons</h3>
    {{ print(fields) }}
    {# placeholder content #}
  </div>
</div>
