@keyframes rubberBandPadding {
  0% {
    padding: 3rem;
  }

  30% {
    padding: 0;
  }

  40% {
    padding: 1rem;
  }

  50% {
    padding: 0;
  }

  65% {
    padding: 0.5rem;
  }

  75% {
    padding: 0;
  }

  80% {
    padding: 0.3rem;
  }

  85% {
    padding: 0;
  }

  90% {
    padding: 0.15rem;
  }

  100% {
    padding: 0;
  }
}
@keyframes rubberBandBorderRadius {
  0% {
    border-radius: 3rem;
  }

  30% {
    border-radius: 0;
  }

  40% {
    border-radius: 0.6rem;
  }

  50% {
    border-radius: 0;
  }

  65% {
    border-radius: 0.3rem;
  }

  75% {
    border-radius: 0;
  }

  80% {
    border-radius: 0.2rem;
  }

  85% {
    border-radius: 0;
  }

  90% {
    border-radius: 0.1rem;
  }

  100% {
    border-radius: 0;
  }
}

.component-expanding-card-animated {
  padding: 3rem;
  .card {
    border-radius: 3rem;
  }
  &.expanded {
    animation: rubberBandPadding 0.8s;
    padding: 0;
    .card {
      animation: rubberBandBorderRadius 0.8s;
      border-radius: 0;
    }
  }
}
