<div
  x-data="expandingCardAnimatedComponent"
  class="component-expanding-card-animated"
  style="background-color: {{ background_color }};"
>
  <div class="card" style="background-color: {{ card_colour }};">
    <div class="container content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <svg width="0" height="0">
    <defs>
      <clipPath id="rounded-rect" clipPathUnits="objectBoundingBox">
        <rect x="0" y="0" rx="0.03" ry="0.03" width="1" height="1"/>
      </clipPath>
    </defs>
  </svg>
</div>